.temp {
    font-size: 9rem;
    line-height: 8rem;
}

.label {
    font-size: 0.75rem;
    text-align: center;
}

.value {
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
}

.value img {
    height: 100%;
}

.desc {
    text-align: center;
}

.retrieval-datetime {
    font-size: .75rem;
    padding: .5em 0;
    text-align: right;
}

.conditions .col {
    padding-left: 10px;
    padding-right: 10px;
}