[Desktop Entry]
Type=Application
Name=BlazorMirror
Comment=BlazorMirror
NoDisplay=false
Exec=/usr/bin/lxterminal -e /home/pi/BlazorMirror/Autostart/init.sh
NotShowIn=GNOME;KDE;XFCE;