@page "/"

<div class="row component-row">
    <div class="col">
        <TemporalInfo />
    </div>
    <div class="col-5">
        <div class="component">
            <CurrentWeather />
        </div>
        <div class="component">
            <FiveDayForecast />
        </div>
    </div>
</div>