@using System.Timers
@implements IDisposable


<div>
    <div class="date">@DateTimeNow.ToString("D")</div>
    <div class="time">@DateTimeNow.ToString("t")</div>
</div>

@code {
    private Timer _timer;
    public DateTime DateTimeNow { get; set; }


    protected override async Task OnInitializedAsync()
    {
        DateTimeNow = DateTime.Now;

        _timer = new Timer { Interval = 500 };
        _timer.Elapsed += UpdateTimeDisplay;
        _timer.AutoReset = true;
        _timer.Enabled = true;
    }

    private void UpdateTimeDisplay(Object source, ElapsedEventArgs e)
    {
        DateTimeNow = DateTime.Now;
        StateHasChanged();
    }

    public void Dispose()
    {
        _timer.Dispose();
    }

}